.post-page__c
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    .post-img__c
        img
            box-sizing: border-box
            opacity: 0.9
            width: 100%
            height: auto
                

    .post-title__c
        margin: 80px 20%
        position: relative
        top: 20px
        width: 70%
        text-align: center
        font-family: "Rajdhani", sans-serif
        font-size: 1.8rem
        color: #fff
        text-shadow: 0px 0px 10px #000000
        background: #0000008a
        border-radius: 20px

    .post-main-text__c
        margin: 80px 20%
        box-sizing: border-box
        border-top: 1px solid #000000
        margin: 40px 0
        width: 80%
        white-space: pre-line
        font-family: "Rajdhani", sans-serif
        font-size: 2rem
        padding: 20px
        p
            padding: 40px 0

@media screen and (max-width: 1100px)
    .post-page__c
        margin: 80px 10%
@media screen and (max-width: 618px)
    .post-page__c
        margin: 80px 2%
    .post-main-text__c
        padding: 80px 2% !important
