.adm-form-c {
  margin: 40px 25% 0px 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.adm-form-c .input_title:focus {
  border-left: 1px solid #0000003d;
}
.adm-form-c .input_title {
  height: 75px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-left: 0px;
  border: 0;
  outline: 0;
  resize: none;
}
.adm-form-c .input__post-text {
  height: 700px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  border: 0;
  border-left: 0px;
  resize: none;
  outline: 0;
}
.adm-form-c .image-input-c {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adm-form-c .image-input-c .prev__img-c {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-radius: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.adm-form-c .image-input-c .prev__img-c:before {
  opacity: 0;
  content: "Delete image?";
  text-transform: uppercase;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-family: "Rajdhani", sans-serif;
  font-size: 2rem;
}
.adm-form-c .image-input-c .prev__img-c:hover .prev__img {
  opacity: 0.5;
}
.adm-form-c .image-input-c .prev__img-c:hover:before {
  opacity: 2;
}
.adm-form-c .image-input-c .prev__img {
  border-radius: 150px;
  width: 100%;
  height: auto;
}
.adm-form-c .image-input-c input {
  display: none;
}
.adm-form-c .image-input-c label {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.adm-form-c .image-input-c label .img-text-c:hover .text-upl-c {
  border-right: 7px solid #000000;
  border-left: 0px solid #000000;
}
.adm-form-c .image-input-c label .img-text-c {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #006983;
  border-radius: 30px;
  cursor: pointer;
}
.adm-form-c .image-input-c label .img-text-c .text-upl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 10px;
  border-left: 7px solid #000000;
  border-right: 7px solid #006983;
  border-radius: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.adm-form-c .image-input-c label .img-text-c .text-upl-c .upl-p {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5rem;
}
.adm-form-c .image-input-c label .img-text-c .img-c {
  padding: 10px;
  width: 60px;
  height: 60px;
}
.adm-form-c .image-input-c label .img-text-c .img-c img {
  width: 100%;
  height: auto;
}
.adm-form-c .image-input-c .input-img {
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .prev__img-c {
    width: 100% !important;
  }
}