$colorBackg: #ffffff
$colorBlack: #000000
$colorNavButton: #000000
$hoverNavColor: #006983
$colorGreenLight: #97ff8d

.adm-form-c
    margin: 40px 25% 0px 25%
    display: flex
    flex-direction: column

    .input_title:focus
        border-left: 1px solid #0000003d

    .input_title
        height: 75px
        padding: 10px
        margin-bottom: 20px
        font-size: 2rem
        border-left: 0px
        border: 0
        outline: 0
        resize: none

    .input__post-text:focus

    .input__post-text
        height: 700px
        padding: 10px
        margin-bottom: 20px
        font-size: 1.3rem
        border: 0
        border-left: 0px
        resize: none
        outline: 0
    
    .image-input-c
        margin-bottom: 40px 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        
        .prev__img-c
            margin: 20px 0
            display: flex
            width: 50%
            border-radius: 150px
            justify-content: center
            align-items: center
            cursor: pointer
            transition: all 0.2s

            
                

            &:before
                opacity: 0
                content: "Delete image?"
                text-transform: uppercase
                position: absolute
                transition: all 0.2s
                font-family: "Rajdhani", sans-serif
                font-size: 2rem

        .prev__img-c:hover
            .prev__img
                opacity: 0.5
            &:before
                opacity: 2
                


        .prev__img
            border-radius: 150px
            width: 100%
            height: auto

            


        input
            display: none

        label
            z-index: 1
            display: flex
            justify-content: center
            align-items: center

            .img-text-c:hover
                .text-upl-c
                    border-right: 7px solid #000000
                    border-left: 0px solid #000000

            .img-text-c
                box-sizing: border-box
                display: flex
                justify-content: center
                align-items: center
                padding: 10px
                background-color: $hoverNavColor
                border-radius: 30px
                cursor: pointer
                

                .text-upl-c
                    display: flex
                    justify-content: center
                    align-items: center
                    height: 60px
                    padding: 10px
                    border-left: 7px solid #000000
                    border-right: 7px solid $hoverNavColor
                    border-radius: 20px
                    transition: 0.1s

                    .upl-p
                        font-family: 'Rajdhani', sans-serif
                        font-size: 1.5rem

                .img-c
                    padding: 10px
                    width: 60px
                    height: 60px
                    
                    img
                        width: 100%
                        height: auto

        .input-img
            visibility: hidden

@media screen and (max-width:900px)
    .prev__img-c
        width: 100% !important