.logreg-bg {
  background: url(./media/logreg-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
}