.profile-main-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-img-c {
  max-width: 300px;
  max-height: 300px;
}
.profile-img-c img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000;
  max-width: 100%;
  height: auto;
}