.profile-main-c
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    
.profile-img-c 
    max-width: 300px
    max-height: 300px
    img
        box-sizing: border-box
        border: 1px solid #000
        max-width: 100%
        height: auto