button {
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
}

.home-page-container {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-drp-men {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  right: 0;
  width: 0.0001px;
  height: 20px;
  overflow: hidden;
}
.btn-drp-men .men-btn {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-decoration: none;
  color: #000000;
  font-size: 1.75rem;
  font-family: "Rajdhani", sans-serif;
}
.btn-drp-men .men-btn:hover {
  border-radius: 10px;
  padding: 5px;
  background: #000000;
  color: #00D9FF;
}

.hd-home {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.4rem;
  color: #000000;
  background: #00D9FF;
}
.hd-home .nav-link2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-right: 20%;
  padding-top: 2px;
}
.hd-home .nav-link1 {
  margin-left: 20%;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nv-btn {
  padding: 8px 8px 4px 8px;
  height: 24px;
  margin-top: 30px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000000;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nv-btn:hover {
  color: #006983;
  background-color: #97ff8d;
  border-radius: 30px 0px 30px 0px;
}

header .site-logo-c {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  top: 5px;
  left: 35px;
  position: absolute;
  font-size: 1.7rem;
}
header .site-logo-c a {
  color: #000000;
  text-decoration: none;
}
header .site-logo-c a .site-logo-down {
  position: absolute;
  font-size: 1rem;
  left: 15px;
}

@media screen and (max-width: 725px) {
  .nav-link1, .nav-link2 {
    display: none !important;
  }

  .active {
    margin: 0 0 0 0 !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 2;
    background: pink;
    padding: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .active button:hover {
    cursor: pointer;
    font-size: 1.2rem !important;
    border-radius: 10px !important;
    padding: 5px !important;
    background: #000000 !important;
    color: #00D9FF !important;
  }
  .active button {
    width: 50px !important;
    height: 40px !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.9rem !important;
    background: none !important;
    color: #000000 !important;
  }

  .btn-drp-men {
    position: absolute;
    margin: 20px 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50px;
    height: 40px;
    overflow: visible;
  }
  .btn-drp-men button {
    width: 50px;
    height: 40px;
    font-size: 20px;
    font-size: 1.7rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    background: none;
    color: #000000;
    -webkit-transition: 0.15s;
    transition: 0.15s;
  }
  .btn-drp-men button:hover {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 30px 0px 30px 30px;
    background: #006983;
  }
}