.flash-con {
  z-index: 1;
  opacity: 1;
  position: fixed;
  height: 80px;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 68, 68);
  font-family: 'Bebas Neue', cursive; 
  top: calc(100vh - 80px);
  cursor: default;
}

.flash-info {
  position: fixed;
  color: white;
  font-size: 2rem;
}

.success {
  background-color: rgb(85, 255, 136);
}

.success .flash-info {
  color: #000;
}

